numpy
fastapi
uvicorn
langchain
langchain-community
langchain-openai
openai
faiss-cpu
PyPDF2
python-docx
python-multipart
python-dotenv
tiktoken
mistralai
langchain-mistralai
transformers
flashrank

supabase
httpx
PyJWT

tqdm
requests