numpy
uvicorn
langchain
langchain-community
langchain-openai
langchain-mistralai
faiss-cpu
PyPDF2
python-docx
python-multipart
python-dotenv
tiktoken
mistralai
flashrank
supabase
httpx
PyJWT
tqdm
requests
mcp[cli]
google-api-python-client
google_auth_oauthlib
fastapi
pydantic
groq
tzdata
redis
sqlalchemy[asyncio]
asyncpg
psycopg[binary]
pydantic-settings
certifi
truststore
aiofiles
torch
transformers
openai-agents
openai
google-cloud-translate
reportlab
langchain<0.2
langchain-community
langchain-openai
langchain-mistralai
uvloop