tf-keras
numpy
uvicorn
langchain
langchain-community
langchain-openai
langchain-mistralai
faiss-cpu
PyPDF2
python-docx
python-multipart
python-dotenv
tiktoken
mistralai
flashrank
supabase
httpx
PyJWT
tqdm
requests
mcp[cli]
openai-agents
openai
google-api-python-client
google_auth_oauthlib
fastapi
torch
transformers
pydantic
groq
tzdata